* {font-family:  monospace;
	}
#mbody {
	background: linear-gradient(#278, #146);
	}
body{
	width: 100vw;
	margin: 0;
	}
h1  {	
	width: 98vw;
	color: #fff;
	text-align:center;
	border-bottom: 1px solid #eee;
	margin: 15px 1vw;
	}
h2  {	
	width: 98vw;
	color: #bbb;
	border-bottom: 1px solid #789;
	margin: 20px 1vw 5px 1vw;
	}
label {
	display: inline-block;
	border-bottom: 1px solid #59a;
	color: white; 
	width: 40vw;
	padding: 6px 1vw;
	margin: 4px 1vw;
	}
input[type=text] {
	display: inline-block;
	border: 1px solid #59a;
	background-color: #168;
	color: #eee;
	width: 55vw;
	padding: 6px 1vw;
	}
input[type=checkbox] {
	appearance: none;
	margin: 0px;
	display: inline-block;
	vertical-align: bottom;
	background-color: #168;
	border: 1px solid #59a;
	width: 40px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	}
input[type=checkbox]:checked {
    background-color: #acf;
}
input[type=checkbox]:after {
  color: white;
  display: inline-block;
  width: 38px;
  text-align: center;
  padding: 7px 0px;
  content: "NON"
}
input[type=checkbox]:checked:after {
  content: "OUI";
  color: #000;
}
input[type=submit] {
	height: 40px;
	color: #229;
	width: 20vw;
	margin: 0 40vw;
	border-radius: 5px;

	}
p {
	display: inline-block;
	color:#fff;
	margin: 0 20px;
	}
#menu{
	display: inline-block;
	list-style: none;
	width: 96vw;
	margin: 10px 1vw 0 1vw;
	padding: 1vw;
	height:20px;
	}
#menu a{
	display: inline-block;
	border: 1px solid #59a;
	width: 20vw;
	height: 20px;
	border: 1px solid #99a;
	background: linear-gradient(#eee, #bbb);
	border-radius: 6px;
	color: #005;
	text-decoration: none;
	text-align: center;
	padding: 6px 0 2px 0;
	margin: 0;
	}
iframe{
	padding: 0;
	margin: 0;
	border:0;padding:0;margin: 0;
	}
#menubar{
	width: 100vw;
	height:10vh;
	}
#main{
	padding: 0;
	margin: 0;
	border:0;padding:0;margin: 0;
	width: 100vw;
	height:90vh;
	}
#scr{
	margin: 0 1vw;
	width: 98vw;
	height:450px;
	}
#out{
	margin: 0 1vw;
	width: 98vw;
	height:400px;
	}
